.panel {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 9.38rem;
  height: 9.38rem;
  border: 1px solid #000000;
  background-color: var(--color-background-game);
}

.enemy {
  background-image: url("../imagens/ralph.png");
  background-size: cover;
}

