* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-header: "Bebas Neue",  sans-serif;
  --font-family-game: "Press Start 2P", system-ui;

  --text-regular: 400 1rem var(--font-family);
  --text-medium: 600 1.5rem var(--font-family);
  --text-large: 3rem var(--font-family-header);

  --color-background: #000000;
  --color-background-header: #ff0000;
  --color-primary: #000000;
  --color-secondary: #93f068;
}

.container{
  display: flex;
  flex-direction: column;
  height: 100%;
}
