.container header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 70px;
  width: 100%;
  background-color: red;
  color: #ffffff;
  border: 5px solid #ffd700;
  border-left: 0;
  border-right: 0;
}