.container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-background-header);
  height: 5rem;
  font: var(--text-large);
  color: var(--color-secondary);
}